* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffd700;
}

.container {
  padding: 2rem;
  min-height: 100vh;
}

header nav img {
  width: 80px;
  height: auto;
}

header {
  width: 100vw;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 1000;
}

header .topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #ffd700;
}

header .topnav .nav-list a {
  padding: 1rem;
  font-weight: bold;
  transition: ease-in 0.3s;
  overflow: hidden;
}

header .topnav .nav-list a:hover {
  background-color: rgb(0, 0, 0);
  color: #ffd700;
  border-radius: 10px;
}

header .topnav .menu-icon,
header .topnav .x-icon {
  display: none;
}

header .topnav .menu-icon,
header .topnav .x-icon {
  width: 30px;
  height: 30px;
}

/* Home Section */

#home {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd700
}

#home .main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .main-text {
  width: 550px;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#home img {
  width: 400px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#home .main-text h1 {
  font-size: 50px;
  font-family: "Merriweather", serif;
}

 #home .main-text p {
  font-size: 18px;
  line-height: 1.5;
}

/* Portfolio Section */

#portfolio{
  background-color: #ffdd20;
}
#portfolio h1{
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
}

#portfolio .image{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}



#portfolio .image div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#portfolio .image img {
  width: 300px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#portfolio .image img:hover{
  transform: translateY(4px);
  cursor: pointer;
  transition: ease-in 0.3s;
}

#portfolio .image > img{
  width: 400px;
}

#portfolio .image div img {
  height: 433px;
  margin: .5rem;
}

/* About section */
#about > h1 , #about div > h3{
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 900;
}

#about > h1{
  font-size: 4rem;
}

#about div > p {
  font-size: 1.5rem;
}

#about div > h3{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#about div{
  margin-bottom: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

#contact {
  background-color: #ffdd20;
  display: flex;
  flex-direction:column ;
}
#contact > div{
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: auto;
}

#contact > h1{
  text-align: center;
  font-weight: 900;
  margin-top: auto;
  font-size: 4rem;
}

#contact div .contact-icon-section{
  margin:1rem auto;
  width: fit-content;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#contact div .contact-icon-section span{
  display: flex;
  align-items: center;
  padding: 5px;
  transition: ease-in 0.3s;
}
#contact div .contact-icon-section span:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.822);
  border-radius: 10px;

}

#contact div .contact-icon-section span p{
  padding-left: 1rem;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 10px;
}

#contact div > p{
  font-size: 1.5rem;
}

footer{
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: fit-content;
  display: flex;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

footer .social-container,
footer .copy-right{
  width: 50%;
  height: auto ;
}

footer .social-container{
  display: flex;
  justify-content: flex-end;
}

footer .social-container span{
  padding: 0.5rem;
  background-color: white;
  border-radius: 10px;
}

footer .social-container img{
  width: 30px;
  height: 30px;
}
footer .copy-right{
  display: flex;
  align-items: center;
}

footer .copy-right > p{
  padding-left: 0.5rem;
  color: #ffd700;
}

/* Media Query */
@media (max-width: 1200px) {
  #home img {
    width: 350px;
  }
}

@media (max-width: 992px) {
  #home img {
    width: 300px;
  }
}

@media (max-width: `px) {
  #home .main {
    display: inline;
  }
  #home img {
    width: 250px;
  }

  header .topnav .menu-icon{
    display: block;
  }

  header .topnav .nav-list{
    display: none;
  }

  /* Portfolio Section */

  #portfolio .image div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #portfolio .image > img{
    width: 300px;
  }
}

@media (max-width: 576px) {
  #home .main-text h1 {
    font-size: 35px;
  }

  #home .main-text {
    width: auto;
  }

  #about div{
    /* margin-top: auto; */
    padding-left: 0;
    padding-right: 0;
  }
}







